.img-bg {
  height: 370px;
  width: 600px;
}
.conversation-container > .header {
  background-color: #0476BD;
}

.message > .response {
  background-color: rgba(4, 118, 189, 0.4);
  color: white;
}

.launcher{
  background-color: #0476BD!important;

}

.widget-container {
  bottom: 35px!important;
}